body{
    padding: 0px;
    margin: 0px;
    background-color: #eeee;
}
#container #content{
    width: 100%;
    height: 100%;
}
    .card{
        display: flex;
        margin: 65px 25px 35px 25px;
        border-radius: 10px;
        height: 300px;
        background-color:white;
    }
    .card .part1{
        width:250px;
        background-color:#8fc472;
        height:300px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .card .part1 img{
         width:230px;
         height: 260px;
         transform: scale(1.25,1.25);
    }
    .card .part2{
        padding: 20px 60px;
        height: 300px;
    }
    .card .part2 button {
        background-color: #8FC472;
        margin-top: 20px;
        border-radius: 20px;
        height: 45px;
        width: 120px;
}